@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-dn-background-200: var(--dn-background-200);
  --color-dn-background-100: var(--dn-background-100);
  --color-dn-foreground-100: oklch(from var(--dn-foreground-200) l c h / 70%);
  --color-dn-foreground-200: var(--dn-foreground-200);
}

@layer theme {
  ::selection {
    color: var(--color-dn-background-200);
    background-color: var(--dn-foreground-200);
  }

  :root {
    @apply scheme-light;
    --dn-background-100: oklch(90.06% 0.0001 271.152);
    --dn-background-200: oklch(99.115% 0.00423 15.765);
    --dn-foreground-200: oklch(0% 0 0);
    
    background-color: var(--dn-background-200);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply scheme-dark;
    --dn-background-100: oklch(29.313% 0.00003 271.152);
    --dn-background-200: oklch(23.929% 0.00003 271.152);
    --dn-foreground-200: oklch(96.75% 0.0168 270);
  }

  .prose {
    @apply prose-invert;
  }
}
